@import "reset.css";
@import "components/status-bar.css";
@import "screens/login.css";
@import "components/nav_bar.css";
@import "components/screen-header.css";
@import "screens/friends.css";

@font-face {
  font-family: "HSYuji-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSYuji-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body,
input {
  font-family: "HSYuji-Regular";
}
